<section>
    <h2>Educational purposes project</h2>
    <p>Consequat semper viverra nam libero. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Pharetra pharetra massa massa ultricies mi quis. In est ante in nibh mauris cursus mattis. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Mauris a diam maecenas sed enim ut sem viverra.</p>
    <button class="btn-text" style="width: fit-content">Source Code</button>
</section>
<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
    }
</style>
