{% extends 'mainLayout.html' %} 
{% include 'mainLayout.html' %}

{% block content %}
{% include "../components/displayBanner.html" with label="Dashboard" %}
{% include 'layouts/navbar.html' %}

<section class="table-section">
    <div class="table-toolbar">
        <div>
            <h3>Stock prices</h3>
            <caption>Last update 22.02.2022 13:45</caption>
        </div>
        <div>
            <button>Auto-refresh</button>
            <button>Refresh</button>
        </div>
    </div>
    <div class="table-toolbar">
        <div>
            <input id="searchBox" type="search" placeholder="Search..."/>
        </div>
        <div>
            <label for="tagas">Choose a tag:</label>
                <select name="tags" id="tags">
                    <option value="" label="All"></option>
                    {% for crypto in unqiue_crypto %}
                    <option value="{{crypto}}">{{crypto}}</option>
                    {% endfor %}
                    {% for stock in unique_stock %}
                    <option value="{{stock}}">{{stock}}</option>
                    {% endfor %}
                </select>
        </div>
    </div>
    {%if json_file %}
    <div class="table-container">
        <table id="dashboardTable">
            <thead>
                <tr>
                {% for header_name in headers %}
                    <th>{{header_name}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dict in json_file %}
                {% if dict.symbol in unqiue_crypto %}
                    <tr id="{{dict.symbol}}" >
                        {% for key, value in dict.items %}
                                <td><a href="data/cryptocurrencies/{{dict.symbol}}" >{{value}}</a></td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr id="{{dict.symbol}}" >
                        {% for key, value in dict.items %}
                                <td><a href="data/stockexchange/{{dict.symbol}}" >{{value}}</a></td>
                        {% endfor %}
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</section>
<style>
    table {
        width: 100%;
    }
    tbody {
        /* background: orange; */
    }
    thead {
        text-align: left;
    }
    tr {
        height: 56px;   
        cursor: help;
    }
    .table-container {
        /* background-color: blueviolet; */
        border-top: 1px solid var(--text)
    }
    .table-section {
        max-width: 1536px;
        margin: 0 auto;
    }

    .table-toolbar {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input[type=search] {
        border-radius: 100px;
    }


    .hidden {
        visibility: hidden;
    }

</style>

<script>

    const choosePropperRecords = function(){
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    }
    var $rows = $('#dashboardTable tr');

    $('#searchBox').keyup(choosePropperRecords);
    $('#tags').change(choosePropperRecords);

</script>

<script>

    // const test = {table_name:"{{table_name}}", data:"{{data}}", situation_message: "{{situation_message}}", currency_description: "{{currency_description}}", form: "{{form}}", calc_value: "{{calc_value}}", table_values: "{{table_values}}", table_keys: "{{table_keys}}", graph: "{{graph}}" }
    const test = {table_name: "{{table_name}}", headers: "{{headers}}", json_file: "{{json_file}}", unqiue_crypto: "{{unqiue_crypto}}", unique_stock: "{{unique_stock}}" }
    // console.log(test);
</script>



{% endblock content %}