{% extends 'loginLayout.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% comment %} Lista importów języka jinja2 {% endcomment %}

{% comment %}
Kontener na wiadomości w przypadku nieudanego zalgoowania
{% endcomment %}

  {% comment %} Formularz dla logowania użytkownika  {% endcomment %}
  <section class="form-wrapper">
    {% include "components/logo.html" %}    
    <form method = "POST" action = "" class="form">
      <div class="form-header">
      <caption>User dashboard</caption>
      <h2>Auth required</h2>
    </div>

    <div class="form-group">
      {% csrf_token %}
      <label for="inputusername">Username</label>
      <input type="text" id="inputusername" name="username"/>
    </div>
    
    <div class="form-group">
      <label for="inputpassword">Password</label>
      <input type="password" id="inputpassword" name="password" class="form-control"/>
    </div>

      <button class="btn-outlined" type="Submit">Log in</button>
  </form>
</section>

<style>
    .form-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: max-content;
      flex-direction: column;
      margin-top: 120px;
    }

    .form {
      padding: 24px;
      border: 1px solid var(--text);
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .form-group {
      max-width: 450px;
      min-width: 320px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .form-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
</style>

{% endblock content %}


