{% extends 'mainLayout.html' %} 
{% comment %} 
Lista Importów Języka Jinja 
{% endcomment %}
{% load static %}
{% include 'mainLayout.html' %}
{% block content %}


{% comment %} 
Wypisanie wiadomości dla użytkowników niezalogowanych
{% endcomment %}
<div>
        <div>
                <h3>
                Proszę się zalogować.
                        <small>Możliwość przeglądania funkcjonalności zostanie wtedy udostępniona.</small>
                </h3>
        <hr>
        </div>
        <div>
                <h3>Zapraszamy do odwiedzenia nas w mediach społecznościowych.</h3>
        </div>
{% endblock content %}