 <!-- Section for data preview -->
<!-- FIXME: po co to komu skoro i jest wykres powyzej? -->
<section class="table-section">
    <div class="table-toolbar">
        <h2>History</h2>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                {% for header_name in table_keys %}
                    <th>{{header_name}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dict in table_values %}
                    <tr>
                        {% for key, value in dict.items %}
                            <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<style>
    .table-section {
        max-width: 1536px;
        margin: 0 auto;
    }

    .table-toolbar {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .table-container {
        border-top: 1px solid var(--text);

    }

    table {
        width: 100%;
        overflow-y: visible;
    }

    tr {
        height: 56px;   
        cursor: help;
    }

    tr:hover {
        background-color: var(--primary-light);
    }

    th {
        font-weight: bold;
    }

    thead {
        text-align: left;
    }

    td > a:first-child {
    display: flex;
    /* padding: 18px; */
    text-decoration: none;
    color: inherit;
    /* z-index: 0; */
    }
  
</style>