<!-- Resuable component for  navbar -->
<nav>
    <a href="/" class="a-clear"><label class="navLink" id="all">All</label></a>
    <a href="cryptocurrencies" class="a-clear"><label class="navLink" id="crypto">Cryptocurrency</label></a>
    <a href="stockexchange" class="a-clear"><label class="navLink" id="stock">Stock</label></a>
</nav>

<script>
    const z = document.getElementById('all')
    const x = document.getElementById("crypto")
    const y = document.getElementById("stock")
    if (location.pathname === '/cryptocurrencies') {
        z.className = z.className.replace(" choosen", "");
        x.className += " choosen"
        y.className = y.className.replace(" choosen", "");
        
    } else if (location.pathname === '/stockexchange'){
        z.className = z.className.replace(" choosen", "");
        x.className = x.className.replace(" choosen", "");
        y.className += " choosen"   
    } else {
        z.className += " choosen"
        x.className = x.className.replace(" choosen", "");
        y.className = y.className.replace(" choosen", "");
    }
</script>
<style>
    nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    }
    .choosen {
        background-color: var(--primary-light)!important;
        border-bottom: 2px solid var(--primary-dark)!important;
    }

    .navLink  {
        background-color: transparent;
        border-bottom: 2px solid transparent;
        font-size: 22px;
        padding: 8px 12px;
        color: var(--text)!important;
        cursor: pointer;
        
        text-transform: uppercase;
    }


    .navLink:hover {
        background-color: var(--green)!important;
        border-bottom: 2px solid var(--primary-dark);
    }
</style>