{% extends 'base.html' %}
{% block content %} 
<!-- Eductional prooject section -->
<div>
    <h3>Educational purposes project</h3>
</div>
<!-- Tech Stack -->
<div>
    <h3>Tech Stack</h3>
    <!-- TODO Fullfill the tech stack of the project -->
</div>
<br>
<!-- TODO Accordion box -->
<!-- https://www.w3schools.com/howto/howto_js_accordion.asp -->
<!-- https://supfort.com/pure-css-accordion-without-javascript -->
<div>

</div>
<br>
<!-- Authors -->
<div>
    <h3>Authors</h3>
    <p>Project created by people listed below</p>
    {% for author in authors %}
    <div>
        <p>{{author.name}}</p>
        <p>{{author.second_name}}</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}