 {% extends 'mainLayout.html' %} 
{% comment %} 
<!-- Lista importów języka Jinja -->
{% endcomment %}
{% load static %}
{% include 'mainLayout.html' %}
{% block content %}
<!-- Apps Name and Logout button -->
{% include "../components/displayBanner.html" with label="Dashboard" %}
{% include 'graphsApp/navbar.html' %}
    
<!-- Table For Displaying data -->
<!-- TODO rozwiaznie obrazkow i propertisow w tabeli -->
<!-- https://stackoverflow.com/questions/9961046/django-template-displaying-images-in-table -->
<section class="table-section">
    <div class="table-toolbar">
        <div>
            <h3>Stock prices</h3>
            <caption>Last update 22.02.2022 13:45</caption>
        </div>
        <div>
            <button>Auto-refresh</button>
            <button>Refresh</button>
        </div>
    </div>
    <div class="table-toolbar">
        <div>
            <input id="searchBox" type="search" placeholder="Search..." onkeyup="handleSearch()"/>
        </div>
        <div>
            <label for="cars">Choose a car:</label>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
        </div>
    </div>
    <div class="table-container">
        <table id="dashboardTable">
            <thead>
                <tr>
                {% for header_name in headers %}
                    <th>{{header_name}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dict in json_file %}
                {% if dict.symbol in unqiue_crypto %}
                    <tr id="{{dict.symbol}}" >
                        {% for key, value in dict.items %}
                                <td><a href="data/cryptocurrencies/{{dict.symbol}}" >{{value}}</a></td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr id="{{dict.symbol}}" >
                        {% for key, value in dict.items %}
                                <td><a href="data/stockexchange/{{dict.symbol}}" >{{value}}</a></td>
                        {% endfor %}
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<style>
    table {
        width: 100%;
    }
    tbody {
        /* background: orange; */
    }
    thead {
        text-align: left;
    }
    tr {
        height: 56px;   
        cursor: help;
    }
    .table-container {
        /* background-color: blueviolet; */
        border-top: 1px solid var(--text)
    }
    .table-section {
        max-width: 1536px;
        margin: 0 auto;
    }

    .table-toolbar {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input[type=search] {
        border-radius: 100px;
    }


    .hidden {
        visibility: hidden;
    }

</style>

<script>

    var $rows = $('#dashboardTable tr');
    $('#searchBox').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

</script>
<script>

    // const test = {table_name:"{{table_name}}", data:"{{data}}", situation_message: "{{situation_message}}", currency_description: "{{currency_description}}", form: "{{form}}", calc_value: "{{calc_value}}", table_values: "{{table_values}}", table_keys: "{{table_keys}}", graph: "{{graph}}" }
    const test = {table_name: "{{table_name}}", headers: "{{headers}}", json_file: "{{json_file}}", unqiue_crypto: "{{unqiue_crypto}}", unique_stock: "{{unique_stock}}" }
    // console.log(test);
</script>



{% endblock content %}