{% extends 'mainLayout.html' %}
{% include 'mainLayout.html' %}
{% block content %}
{% load static %}
{% include "../components/displayBanner.html" with label=table_name %}
<div class="easy_readable">
    <!-- Data Name that came from backend -->
    
    <!-- Section for market statistics -->
    <section class="section-gap">
        <h2>Market</h2>
        {% autoescape off %}
            {{ graph }}
        {% endautoescape %} 
        <script src="" async defer></script>
        <h3>Market Stats</h3>
        <div class="grid">
            <!-- Save list of keys in backed -->
            {% for key, value in data.items %}
                {% include "../components/dataKeyValue.html" with key=key value=value  %}
            {% endfor %}
        </div>
        <!-- Situation about currency this week -->
        <h3>{{table_name}} in last days</h3>
        <!-- Property from coinbase object -->
        <p>In last days value of {{table_name}} changed about {{situation_message}}%</p>
    </section>

    <!-- Section for calculator -->
    <section>
        <script>
            let exchange;
            exchange = JSON.parse("{{exchange_rates|escapejs}}");
            
            
            
            function handleClick() {
                console.log('runned');
                const i_ammount = document.getElementById('ammount');
                const i_to_currency = document.getElementById('to_currency');
                const o_result = document.getElementById('result');
                console.log("test")
                // event.preventDefault()
                let ammount = i_ammount.value;
                console.log(ammount)
                let to_currency = i_to_currency.value;
                console.log(to_currency)
                // let currency_rate = exchange[to_currency]; 
                let result = (exchange.value / exchange[to_currency]) * ammount;
                console.log(result);
                o_result.innerHTML = `${result.toFixed(2)} ${to_currency.toUpperCase()}`;   
            }
            
            handleClick()
        </script>
        <h2>Calculator</h2>
        <div class="calc-inputs">
            <div class="calc-input-group">
                <label for="ammount">Ammount</label>
                <!-- FIXME: auto input value 1 + zwróc wynik -->
                <input type="number" id="ammount" oninput="handleClick()" value="0"/>
            </div>
            <div class="calc-input-group">
                <label for="to_currency">Exchange to</label>
                    <select name="to_currency" id="to_currency">
                        <option value="gbp">GBP</option>
                        <option value="usd">USD</option>
                        <option value="eur">EUR</option>
                    </select>
            </div>
        </div>
        <div>
            <!-- <button onclick="handleClick()">Calc</button> -->
            <h1 id="result"></h1>
        </div>
    </section>

    <!-- Section for data preview -->
    <!-- FIXME: po co to komu skoro i jest wykres powyzej? -->
    <section>
        <h2>History</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                    {% for header_name in table_keys %}
                        <th>{{header_name}}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dict in table_values %}
                        <tr>
                            {% for key, value in dict.items %}
                                <td>{{value}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <!-- Section for about -->
    <section>
        <!--  -->
        <h3>About</h3>
        <!-- Property from coinbase object -->
        <p>{{obj.description}}</p>
        <!-- Resources --> 
        <h5>Resources</h5> // TODO mapping links
        <a href="#"></a>
        <a href="#"></a>
    </section>
</div>
<style>

    .grid {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        gap: 16px 0px;
        grid-auto-flow: row dense;
    }

    .section-gap {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    th {
    font-weight: bold;
}

table {
    width: 100%;
}
tbody {
    /* background: orange; */
}
thead {
    text-align: left;
}
tr {
    height: 56px;   
    cursor: help;
}
.table-container {
    /* background-color: blueviolet; */
    border: 1px solid transparent;
    overflow-x: auto;
}
.table-section {
    max-width: 1536px;
    margin: 0 auto;
}

.table-toolbar {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
select {
    border-radius: 2px;
    border: 2px solid var(--text);
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    width:100%
}



.calc-inputs {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.calc-input-group {
    display: flex;
    flex-direction: column;
    background-color: orchid;
    width: 100%;

}

</style>

{% endblock %}