{% extends 'mainLayout.html' %}
{% include 'mainLayout.html' %}
{% block content %}
{% load static %}
{% include "../components/displayBanner.html" with label=table_name %}
<div class="easy_readable">
    <!-- Data Name that came from backend -->
    
    <!-- Section for market statistics -->
    <section class="section-gap">
        <h2>Market</h2>
        {% autoescape off %}
            {{ graph }}
        {% endautoescape %} 
        <script src="" async defer></script>
        <h3>Market Stats</h3>
        <div class="grid">
            <!-- Save list of keys in backed -->
            {% for key, value in data.items %}
                {% include "../components/dataKeyValue.html" with key=key value=value  %}
            {% endfor %}
        </div>
        <!-- Situation about currency this week -->
        <h3>{{table_name}} in last days</h3>
        <!-- Property from coinbase object -->
        <p>In last days value of {{table_name}} changed about {{situation_message}}%</p>
    </section>

    <!-- Section for calculator -->
    <section>
        <h2>Calculator</h2>
        <div>
            <form action="" method="post">
                <!-- Sending authorization token -->
                {% csrf_token %} 
                {{form}}
            <button name="form" type="submit">Calc</button>
            </form>
            {% if calc_value %}
                <label>Result</label>
                <h1>{{calc_value}}</h1>
            {% endif %}
        </div>
    </section>

    <!-- Section for data preview -->
    <!-- FIXME: po co to komu skoro i jest wykres powyzej? -->
    <section>
        <h2>History</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                    {% for header_name in table_keys %}
                        <th>{{header_name}}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dict in table_values %}
                        <tr>
                            {% for key, value in dict.items %}
                                <td>{{value}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <!-- Section for about -->
    <section>
        <!--  -->
        <h3>About</h3>
        <!-- Property from coinbase object -->
        <p>{{obj.description}}</p>
        <!-- Resources --> 
        <h5>Resources</h5> // TODO mapping links
        <a href="#"></a>
        <a href="#"></a>
    </section>
</div>
<style>

    .grid {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        gap: 16px 0px;
        grid-auto-flow: row dense;
    }

    .section-gap {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    th {
    font-weight: bold;
}

table {
    width: 100%;
}
tbody {
    /* background: orange; */
}
thead {
    text-align: left;
}
tr {
    height: 56px;   
    cursor: help;
}
.table-container {
    /* background-color: blueviolet; */
    border: 1px solid transparent;
    overflow-x: auto;
}
.table-section {
    max-width: 1536px;
    margin: 0 auto;
}

.table-toolbar {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
</style>

{% endblock %}