<!-- Resuable component for  navbar -->
<nav>
    <a href="cryptocurrencies"><button class="navLink">Cryptocurrency</button></a>
    <a href="stockexchange"><button class="navLink">Stock</button></a>
    
</nav>
<style>
    nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    }

    .navLink  {
        background-color: transparent;
        border-bottom: 2px solid transparent;
        font-size: 22px;
        padding: 8px 12px;
        color: var(--text)!important;
        cursor: pointer;
    }


    .navLink:hover {
        background-color: var(--primary-light)!important;
        border-bottom: 2px solid var(--primary-dark);
        
    }
</style>